.content {
  margin: 50px auto;
}

h2 {
  font-family: Open Sans;
  text-align: center;
}

#bonus {
  color: red;
}

.cell {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: black;
  display: inline-block;
}

.snake, .food {
  width: 15px;
  height: 15px;
  z-index: 2;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

#continue {
  width: 40%;
  height: 30px;
  margin: auto;
  display: block;
}
